<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:fragment="head">

            <!-- Mobile Specific Meta -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Favicon-->
            <link rel="shortcut icon" href="img/burger-queen-logo.png">
            <!-- Author Meta -->
            <meta name="author" content="C-12_Bebek-Bebek_Anonim">
            <!-- Meta Description -->
            <meta name="description" content="A web application to order and customize burgers from Burger Queen.">
            <!-- Meta Keyword -->
            <meta name="keywords" content="Burger Queen">
            <!-- meta character set -->
            <meta charset="UTF-8">

            <meta name="google-signin-client_id" content="496517743581-f0rkhqtbhg1bg2u0akakh12ej1rfakk7.apps.googleusercontent.com">

            <!-- Site Title -->
            <title th:text="${title}"></title>

            <!-- Bootstrap static files -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            <script src="https://apis.google.com/js/platform.js" async defer></script>

            <!-- Own's external static files -->
            <link rel="stylesheet" type="text/css" href="css/base-templates/header.css">


        </th:block>

    </head>

    <body>

        <div th:fragment="header">
            <div th:insert="base-templates/header.html"></div>
        </div>
        <div th:fragment="footer">
            <div th:insert="base-templates/footer.html"></div>
        </div>

    </body>
</html>
