<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div id="logo">
        <a href="#"><img id="burger-queen-logo" src="/img/burger-queen-logo.png" alt="Burger Queen" title=""/></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Burger Queen</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/order-your-burger">Order Your Burger</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Your Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/decorate-burger">Decorate Burger</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/edit-profile">Edit Profile</a>
            </li>
            <li class="nav-item" id="authenticate">
                <div class="g-signin2" id="gSignIn" ></div>
            </li>
            <li class="nav-item">
                <div onclick="signOut()"><a class="btn btn-primary" >Sign-out</a></div>
            </li>

        </ul>

    </div>
</nav>

<script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
<script>
    // Render Google Sign-in button
    function renderButton() {
        gapi.signin2.render('gSignIn', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'light',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
    }

    // Sign-in success callback
    function onSuccess(googleUser) {

        // Get the Google profile data (basic)
        //var profile = googleUser.getBasicProfile();

        // Retrieve the Google account data
        gapi.client.load('oauth2', 'v2', function () {
            var request = gapi.client.oauth2.userinfo.get({
                'userId': 'me'
            });
            request.execute(function (resp) {
                // Display the user details
                $.ajax({
                    url         : 'https://burgerqueen-account.herokuapp.com/addAcc/' + resp.email,
                })
                console.log('uiui');
                document.getElementById("gSignIn").style.display = "none";

            });
        });
    }

    // Sign-in failure callback
    function onFailure(error) {
        alert(error);
    }

    // Sign out the user
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            document.getElementById("gSignIn").style.display = "block";
        });

        auth2.disconnect();
    }
</script>



<!--<script>-->

    <!--function onSignIn(googleUser) {-->
        <!--var profile = googleUser.getBasicProfile();-->
        <!--var useremail = profile.getEmail();-->
        <!--window.location.href = 'http://burgerqueen-account.herokuapp.com/addAcc/' + useremail;-->
        <!--console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.-->
        <!--console.log('Name: ' + profile.getName());-->
        <!--console.log('Image URL: ' + profile.getImageUrl());-->
        <!--console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.-->

        <!--update_user_data(profile);-->
        <!--// $.ajax({-->
        <!--//     type: 'POST',-->
        <!--//     data:{},-->
        <!--//     url: 'http://burgerqueen-account.herokuapp.com/addAcc/' + useremail,-->
        <!--//     success: function(data){-->
        <!--//         console.log('add account success');-->
        <!--//     }-->
        <!--// })-->


    <!--}-->
    <!--function update_user_data(response)-->
    <!--{   var profile = googleUser.getBasicProfile();-->
        <!--var useremail = profile.getEmail();-->
        <!--$.ajax({-->
            <!--url: 'http://burgerqueen-account.herokuapp.com/addAcc/' + useremail,-->
            <!--success: function(msg) {-->
                <!--if(msg.error== 1)-->
                <!--{-->
                    <!--alert('Something Went Wrong!');-->
                <!--}-->
            <!--}-->
        <!--});-->
    <!--}-->

<!--</script>-->
<!--<script>-->
    <!--function signOut() {-->
        <!--var auth2 = gapi.auth2.getAuthInstance();-->
        <!--auth2.signOut().then(function () {-->
            <!--console.log('User signed out.');-->
        <!--});-->

    <!--}-->
<!--</script>-->
