.burger-accordion-container {
    display: block;
    margin: 1rem;
    max-width: 97%;
}

.burger-card {
    display: inline-block;
    float: left;
    max-width: 15rem;
    min-width: 10rem;
    margin: 1rem 1rem;
}

.card-img-bun {
    width: 210px;
    height: 180px;
}

/* Try using number input spinner */
/* From: https://stackoverflow.com/questions/26586066/show-spinner-for-input-type-number-in-html5 */
.spinnerVal {
    text-align: center;
}

.customSpinner {
    display: flex;
    margin-bottom: 10px;
}

/*Apply individual Styles to one*/
.spinner-roundVal {
    margin: auto 2px;
    border-radius: 20px !important;
    width: auto !important;
}

.spinner-roundbutton {
    border-radius: 100px !important;
}


.card .burger-card {
    text-align: center;
    transition: all 0.5s ease;
}

.burger-card .card-divider {
    background-color: #fefefe;
    text-transform: uppercase;
    border: 1px solid #cacaca;
}
/*card button*/
.burger-card .button {
    background-color: #cacaca;
}
.burger-card .button:after {
    content: 'Select';
}
.burger-card .button:hover {
    background-color: #1779ba;
}
.burger-card .button:focus {
    background-color: #1779ba;
}

.burger-card.is-selected {
    border: 1px solid #1779ba;
    box-shadow: 0 0 10px #e6e6e6;
    transition: all 0.5s ease;
}
.burger-card.is-selected .button {
    background-color: #1779ba;
}
.burger-card.is-selected .button:after {
    content: 'Selected';
}

