/* Font */
p {
    font-family: "montserrat";
}

/* Font Size */
.Font-Size-15 {
    font-size: 15px;
}

.Font-Size-20 {
    font-size: 20px;
}

.Font-Size-25 {
    font-size: 25px;
}

.Font-Size-30 {
    font-size: 30px;
}

.Font-Size-35 {
    font-size: 35px;
}

.Font-Size-40 {
    font-size: 40px;
}

/* Font Color*/
.Pink-Font {
    color: #E076A3;
}

/* Main */
.Status-Icon {
    height: 170px;
    width: 170px;
    border-radius: 10%;
    border-style: solid;
    border-width: 7px;
    border-color: #E076A3;
}

.Status-Icon-Image {
    margin: 13% 0 0 13%;
}

.Cancel-Order-Button {
    border-radius: 35px;
    background-color: white;
    box-shadow: 0 4px 10px #C0C0C0;
}

.Cancel-Order-Button:hover {
    background-color: #E076A3;
    color: white;
}

.Grayscale-Icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.Modal-Button {
    background-color: #E076A3;
    color: white;
    font-size: 20px;
}