.burger-accordion-container {
    display: block;
    margin: 1rem;
    max-width: 97%;
}

.burger-card {
    display: inline-block;
    float: left;
    max-width: 15rem;
    min-width: 10rem;
    margin: 1rem 1rem;
}


/* Try using number input spinner */
/* From: https://stackoverflow.com/questions/26586066/show-spinner-for-input-type-number-in-html5 */
.spinnerVal {
    text-align: center;
}

.customSpinner {
    display: flex;
    margin-bottom: 10px;
}