<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <th:block th:insert="base-templates/base.html :: head"></th:block>
    <!-- Own's css stylesheet(s) -->
    <link rel="stylesheet" type="text/css" href="css/decorate-burger.css">
</head>
<body>

<header th:insert="base-templates/base.html :: header"></header>

<h2 class="card-title">Make your own customized burger!</h2>

<form>
    <div class="burger-accordion-container">
        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            Select Your Bun!
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">

                    <div class="card burger-card" th:each="bun:${buns}" <!--data-cardSelect-->>
                    <img th:src="${bun.imageLink}"
                         class="card-img-bun" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="name" th:text="${bun.name}"></h5>
                        <h4 class="card-text" id="id" th:text="${bun.id}" style="display: none;"></h4>
                        <h3 class="card-title" id="cost" th:text="${bun.cost}"></h3>
                    </div>
                    <!--<button type="button" class="btn btn-light button" data-cardSelectButton></button>-->
                    <button class='selectBun'>Add to Cart</button>
                </div>

            </div>


        </div>
        <!-- End of first dropdown -->

        <!-- Second dropdown for Favorite Burgers -->
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Select your burger topping(s)!
                    </button>
                </h2>
            </div>

            <!-- Start of second dropdown contents -->
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

                <div class="card burger-card" th:each="filling:${fillings}">
                    <div class="card-body">
                        <h5 class="card-title" id="name" th:text="${filling.name}"></h5>
                        <h4 class="card-text" id="id" th:text="${filling.id}" style="display: none;"></h4>
                        <h3 class="card-title" id="cost" th:text="${filling.cost}"></h3>

                        <!-- Number Input Spinner -->
                        <!-- From: https://stackoverflow.com/questions/26586066/show-spinner-for-input-type-number-in-html5 -->
                        <div class="form-group input-group customSpinner">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-danger spinnerbutton spinnerMinus">
                                    <span class="fa fa-minus">-</span>
                                </button>
                            </div>
                            <input type="number" readonly value="0" class="form-control spinnerVal"/>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-success spinnerbutton spinnerPlus">
                                    <span class="fa fa-plus">+</span>
                                </button>
                            </div>
                        </div>
                        <!-- End of Number Input Spinner -->
                    </div>
                </div>

            </div>
            <!-- End of first dropdown contents -->
        </div>
        <!-- End of second dropdown -->

    </div>
    </div>
    <!-- End of Accordion -->

    <button type="button" onclick="resetAllSpinnerValue()" class="btn btn-danger">Reset</button>
    <button type="button" class="btn btn-primary">Order</button>
</form>
<div class="row">
    <div class="col-sm-9" id="desc-burger"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2" id="priceTotal">0</div>
</div>

<footer>
    <div th:insert="base-templates/base.html :: footer"></div>

    <!-- Own's scripts -->
    <script src="js/order-your-burger/number-spinner.js"></script>
    <script th:src="@{/js/decorate-burger.js}"></script>
</footer>

</body>
</html>