<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="base-templates/base.html :: head"></th:block>

    <!-- Own's css stylesheet(s) -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

<header th:insert="base-templates/base.html :: header"></header>

<div th:class="section-page">
    <div th:class="col-md-12">
        <div th:style="'background: url(img/burger_565.jpg) no-repeat; height:100vh; background-size: 100%;'" th:id="section-home">
            <div th:class="container">
                <div>
                    <div th:class="col-md-8">
                        <h1>BURGER QUEEN</h1>
                        <p>Pesan Burgermu Sekarang!</p>
                        <p><a th:href="@{https://burger-queen-web.herokuapp.com/order-your-burger}">PESAN</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div th:insert="base-templates/base.html :: footer"></div>
</footer>

</body>
</html>