<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="base-templates/base.html :: head"></th:block>

    <!-- Own's css stylesheet(s) -->
    <link rel="stylesheet" type="text/css" href="css/order-your-burger/order-your-burger.css">
</head>
<body>

<header th:insert="base-templates/base.html :: header"></header>

<h2 class="card-title">Pick your burgers and order!</h2>

<form action="#" th:action="@{/order-your-burger/submit}" th:object="${order}" method="post">
    <div class="burger-accordion-container">
        <div class="accordion" id="accordionExample">

            <!-- First dropdown for Original Burgers -->
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Our Original Burgers
                        </button>
                    </h2>
                </div>

                <!-- Start of first dropdown contents -->
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">

                    <div class="card burger-card" th:each="burger: ${burgers}">
                        <img src="https://moadrupalweb.blob.core.windows.net/moadrupalweb/original/5571_BurgerKing_HeroImage.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${burger.name}"></h5>
                            <h4 class="card-text" th:text="${burger.id}" style="display: none;"></h4>
                            <p class="card-text" th:text="${burger.description}"></p>
                            <h6 class="card-text" th:text="${burger.cost}"></h6>

                            <!-- Number Input Spinner -->
                            <!-- From: https://stackoverflow.com/questions/26586066/show-spinner-for-input-type-number-in-html5 -->
                            <div class="form-group input-group customSpinner">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-danger spinnerbutton spinnerMinus">
                                        <span class = "fa fa-minus">-</span>
                                    </button>
                                </div>
                                <input type="number" readonly value="0" class="form-control spinnerVal" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-success spinnerbutton spinnerPlus">
                                        <span class = "fa fa-plus">+</span>
                                    </button>
                                </div>
                            </div>
                            <!-- End of Number Input Spinner -->
                        </div>
                    </div>

                </div>
                <!-- End of first dropdown contents -->
            </div>
            <!-- End of first dropdown -->

            <!-- Second dropdown for Favorite Burgers -->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Your Favorite Burgers
                        </button>
                    </h2>
                </div>

                <!-- Start of second dropdown contents -->
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

                    <div class="card burger-card" th:each="burger: ${burgers}">
                        <img src="https://moadrupalweb.blob.core.windows.net/moadrupalweb/original/5571_BurgerKing_HeroImage.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${burger.name}"></h5>
                            <h4 class="card-text" th:text="${burger.id}" style="display: none;"></h4>
                            <p class="card-text" th:text="${burger.description}"></p>
                            <h6 class="card-text" th:text="${burger.cost}"></h6>

                            <!-- Number Input Spinner -->
                            <!-- From: https://stackoverflow.com/questions/26586066/show-spinner-for-input-type-number-in-html5 -->
                            <div class="form-group input-group customSpinner">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-danger spinnerbutton spinnerMinus">
                                        <span class = "fa fa-minus">-</span>
                                    </button>
                                </div>
                                <input type="number" readonly value="0" class="form-control spinnerVal" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-success spinnerbutton spinnerPlus">
                                        <span class = "fa fa-plus">+</span>
                                    </button>
                                </div>
                            </div>
                            <!-- End of Number Input Spinner -->
                        </div>
                    </div>

                </div>
                <!-- End of first dropdown contents -->
            </div>
            <!-- End of second dropdown -->

        </div>
    </div>
    <!-- End of Accordion -->

    <button type="button" onclick="resetAllSpinnerValue()" class="btn btn-danger">Reset</button>

    <!-- Button trigger modal -->
    <button type="button" onclick="writeSummaryToModal()" class="btn btn-primary" id="orderButton" data-toggle="modal" data-target="#summaryModal">Order</button>
</form>


<!-- Modal -->
<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="summaryModalLongTitle">Your Basket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="summaryModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Back</button>
                <button type="button" onclick="confirmOrderButton()" class="btn btn-primary" id="confirmOrderButton">Confirm order</button>
            </div>
        </div>
    </div>
</div>


<footer>
    <div th:insert="base-templates/base.html :: footer"></div>

    <!-- Own's scripts -->
    <script src="js/order-your-burger/number-spinner.js"></script>
    <script src="js/order-your-burger/burger-form.js"></script>
</footer>

</body>
</html>